.style-01 {
  background-color: #00CCFF;
}
.style-02 {
  color: white;
  background-color: #0000FF;
}
.style-03 {
  background-color: #98F5FF;
}
.style-04 {
  background-color: #AA9955;
}
.style-05 {
  color: white;
  background-color: #483D8B;
}
.style-06 {
  background-color: #05B8CC;
}
.style-bw {
  color: white;
  background-color: black;
}
.style-07 {
  background-color: #2F4F4F;
}
.style-08 {
  background-color: #104E8B;
}
.style-09 {
  background-color: #BFEFFF;
}
