//== Colors
@custom-bg-01: #00CCFF;
@custom-bg-02: #0000FF;
@custom-bg-03: #98F5FF;

// My Style
.style-01{
  background-color: @custom-bg-01;
}
.style-02{
  color: white;
  background-color: @custom-bg-02;
}
.style-03{
  background-color: @custom-bg-03;
}